In [3]:
info_relate_epoch = [{'stock_code': '1', 'epoch': '2' \
                                     , 'epsilon': '3', 'expl': '4' \
                                     , 'buy': '5', 'sell': '6',
                                  'hold': '7' \
                                     , 'stocks': '8', 'PV': '9' \
                                     , 'loss': '10', 'ET': '11'}]

In [4]:
print(info_relate_epoch)

[{'stock_code': '1', 'epoch': '2', 'epsilon': '3', 'expl': '4', 'buy': '5', 'sell': '6', 'hold': '7', 'stocks': '8', 'PV': '9', 'loss': '10', 'ET': '11'}]

In [7]:
def insert(info_relate_epoch):
    sql = (
            "insert into log_table      "
          + "values(                  "
          + "     %(stock_code)s      "
          + "     %(epoch)s      "
          + "     %(epsilon)s      "
          + "     %(expl)s      "
          + "     %(buy)s      "
          + "     %(sell)s      "
          + "     %(hold)s      "
          + "     %(stocks)s      "
          + "     %(PV)s      "
          + "     %(loss)s      "
          + "     %(ET)s      "


    )

In [8]:
insert(info_relate_epoch)

In [11]:
insert

<function insert at 0x000001FCF30C9430>

In [18]:
sql = (
            "insert into log_table      "
          + "values(                  "
          + "       %(stock_code)s      "
          + "     , %(epoch)s      "
          + "     , %(epsilon)s      "
          + "     , %(expl)s      "
          + "     , %(buy)s      "
          + "     , %(sell)s      "
          + "     , %(hold)s      "
          + "     , %(stocks)s      "
          + "     , %(PV)s      "
          + "     , %(loss)s      "
          + "     , %(ET)s      "


    )

In [19]:
sql

'insert into log_table      values(                         %(stock_code)s           , %(epoch)s           , %(epsilon)s           , %(expl)s           , %(buy)s           , %(sell)s           , %(hold)s           , %(stocks)s           , %(PV)s           , %(loss)s           , %(ET)s      '

In [ ]:
import pymysql

db = pymysql.connect(host='34.64.33.94', user='test', db='test', password='test', charset='utf8')

cursor = db.cursor()

In [ ]:
output_name = 1

def create(output_name):
    sql = "create table   f{output_name}  (\
	  seq                  int not null auto_increment\
	, stock_code           varchar(20)\
	, epoch                varchar(20)\
	, epsilon              varchar(20)\
	, expl                 varchar(20)\
	, buy                  varchar(20)\
	, sell                 varchar(20)\
	, hold                 varchar(20)\
	, stocks               varchar(20)\
	, PV                   varchar(20)\
	, loss                 varchar(20)\
	, ET                   varchar(20)\
    )\
    ;"
    cursor.execute(sql)


def insert(self,info_relate_epoch):
    sql = (
            "insert into log_table      "
          + "values(                  "
          + "     %(stock_code)s      "
          + "     , %(epoch)s      "
          + "     , %(epsilon)s      "
          + "     , %(expl)s      "
          + "     , %(buy)s      "
          + "     , %(sell)s      "
          + "     , %(hold)s      "
          + "     , %(stocks)s      "
          + "     , %(PV)s      "
          + "     , %(loss)s      "
          + "     , %(ET)s      "
    )
    cursor.execute(sql,info_relate_epoch)

sql = "select * from books";
cursor.execute(sql)

rows = cursor.fetchall()
print(rows)

db.commit() # 커밋 시 데이터베이스 반영

## DB에 Table 생성

In [8]:
# DB에 table 생성

import pymysql

db = pymysql.connect(host='34.64.33.94', user='test', db='test', password='test', charset='utf8')

cursor = db.cursor()


sql = (
            " create table   log_table_test   (                                 "
            "      seq                 int not null auto_increment primary key "
            "   , stock_code           varchar(20)                             "
            "   , epoch                varchar(20)                          "
            "   , epsilon              varchar(20)                  "
            "   , expl                 varchar(20)                  "
            "   , buy                  varchar(20)                  "
            "   , sell                 varchar(20)                  "
            "   , hold                 varchar(20)                  "
            "   , stocks               varchar(20)                  "
            "   , PV                   varchar(20)                  "
            "   , loss                 varchar(20)                  "
            "   , ET                   varchar(20)                  "
            "   )                                                  "
    )

cursor.execute(sql)
db.commit()

OperationalError: (1050, "Table 'log_table_test' already exists")

In [11]:
cursor.execute("SHOW TABLES")
for x in cursor:
	print(x)

('CODE',)
('Days',)
('books',)
('juga',)
('log_table_test',)

In [ ]:
sql = "insert into books values('?','?','?')"
cursor.execute(sql)

In [74]:
sql = "select * from log_table_test";
cursor.execute(sql)

rows = cursor.fetchall()
print(rows)

db.commit() # 커밋 시 데이터베이스 반영

((1, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (2, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (3, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (4, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (5, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (6, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'))

In [29]:
cursor.execute?

In [55]:
info_relate_epoch = {'stock_code': '1', 'epoch': '2' \
                                     , 'epsilon': '3', 'expl': '4' \
                                     , 'buy': '5', 'sell': '6',
                                  'hold': '7' \
                                     , 'stocks': '8', 'PV': '9' \
                                     , 'loss': '10', 'ET': '11'}

In [112]:
 info_relate_epoch = {'stock_code': '005930', 'epoch': '0001/1000', 'epsilon': '1.0000', 'expl': '248/248', 'buy': '87', 'sell': '79', 'hold': '82', 'stocks': '426', 'PV': '102,742,674', 'loss': '0.022701', 'ET': '0.4050'}

In [89]:
info_relate_epoch.values()

dict_values(['005930', '0001/1000', '1.0000', '248/248', '87', '79', '82', '426', '102,742,674', '0.022701', '0.4050'])

In [97]:
tuple(info_relate_epoch.values())

('005930',
 '0001/1000',
 '1.0000',
 '248/248',
 '87',
 '79',
 '82',
 '426',
 '102,742,674',
 '0.022701',
 '0.4050')

In [126]:
# info_relate_epoch에 있는 values()를 tuple로 변환해서 사용
# 근데 values에 뭐가 있는지 바로 알기 힘들다.

sql = """ 
        insert into log_table_test(
              stock_code          
            , epoch               
            , epsilon             
            , expl                
            , buy                 
            , sell                
            , hold                
            , stocks              
            , PV                  
            , loss                
            , ET  
        )          
        values(    %s      
                 , %s      
                 , %s      
                 , %s      
                 , %s      
                 , %s      
                 , %s      
                 , %s      
                 , %s      
                 , %s      
                 , %s
        )          
"""
cursor.execute(sql,tuple(info_relate_epoch.values()))

db_con: info_relate_epoch :  {'stock_code': '005930', 'epoch': '0001/1000', 'epsilon': '1.0000', 'expl': '248/248', 'buy': '87', 'sell': '79', 'hold': '82', 'stocks': '426', 'PV': '102,742,674', 'loss': '0.022701', 'ET': '0.4050'} <class 'dict'>

1

In [129]:
sql

' \n        insert into log_table_test(\n              stock_code          \n            , epoch               \n            , epsilon             \n            , expl                \n            , buy                 \n            , sell                \n            , hold                \n            , stocks              \n            , PV                  \n            , loss                \n            , ET  \n        )          \n        values(    005930      \n                 , 0001/1000      \n                 , 1.0000      \n                 , 248/248      \n                 , 87      \n                 , 79      \n                 , 82      \n                 , 426      \n                 , 102,742,674      \n                 , 0.022701      \n                 , 0.4050\n        )\n'

In [132]:
# 파이썬 문자열 형식화를 사용해서 dict에 있는 key를 사용해서
# 직관적으로 어떤 값을 썼는지 알 수 있다.
# 근데 입력하는 방법을 모르겠다.

sql = """ 
        insert into log_table_test(
              stock_code          
            , epoch               
            , epsilon             
            , expl                
            , buy                 
            , sell                
            , hold                
            , stocks              
            , PV                  
            , loss                
            , ET  
        )          
        values(    %(stock_code)s      
                 , %(epoch)s      
                 , %(epsilon)s      
                 , %(expl)s      
                 , %(buy)s      
                 , %(sell)s      
                 , %(hold)s      
                 , %(stocks)s      
                 , %(PV)s      
                 , %(loss)s      
                 , %(ET)s
        )
""" % info_relate_epoch # 파이썬 문자열 형식화
cursor.execute(sql)

In [121]:
sql

' \n        insert into log_table_test(\n              stock_code          \n            , epoch               \n            , epsilon             \n            , expl                \n            , buy                 \n            , sell                \n            , hold                \n            , stocks              \n            , PV                  \n            , loss                \n            , ET  \n        )          \n        values(    005930      \n                 , 0001/1000      \n                 , 1.0000      \n                 , 248/248      \n                 , 87      \n                 , 79      \n                 , 82      \n                 , 426      \n                 , 102,742,674      \n                 , 0.022701      \n                 , 0.4050\n        )\n'

In [116]:
cursor.execute("SELECT * FROM log_table_test")

myresult = cursor.fetchall()

for x in myresult:
  print(x)

(1, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11')
(2, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11')
(3, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11')
(4, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11')
(5, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11')
(6, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11')
(7, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11')
(8, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11')
(9, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11')
(10, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11')
(11, '005930', '0001/1000', '1.0000', '248/248', '87', '79', '82', '426', '102,742,674', '0.022701', '0.4050')
(12, '005930', '0001/1000', '1.0000', '248/248', '87', '79', '82', '426', '102,742,674', '0.022701', '0.4050')
(13, '005930', '0001/1000', '1.0000', '248/248', '87', '79', '82', '426', '102,742,674', '0.022701', '0.4050')

In [82]:
sql = "select * from log_table_test";
cursor.execute(sql)

rows = cursor.fetchall()
print(rows)

db.commit() # 커밋 시 데이터베이스 반영

((1, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (2, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (3, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (4, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (5, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (6, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (7, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (8, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'), (9, '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'))